@model Shop.Web.ViewModels.Profile.ProfileViewModel

<h1>@Model.UserName</h1>
<input id="hiddenInput" type="hidden" value="@Model.Id" />
<button onclick="sendFriendRequest()">Add friend</button>
<button>Message</button>


<script>
    function sendFriendRequest() {
        //  const text = document.getElementById('messageArea').value;
        var userToId = document.getElementById('hiddenInput').value;
        // var token = $("#votesForm input[name=__RequestVerificationToken]").val();
        var json = { id: userToId};
        console.log(json);
        $.ajax({
            url: "/api/apirequest",
            type: "POST",
            data: JSON.stringify(json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log('tuk');
                //    $("#votesCount").html(data.votesCount);
                //    console.log(data)
                //    console.log(data.votesCount)
            }
        });
    }
</script>