@model Shop.Web.ViewModels.Category.CategoriesViewModel

<h1 class="text-center">@Model.Name</h1>

@foreach (var product in Model.Products)
{
    <p>@product.Name</p>
    <p>@product.Price</p>
    <hr />
}